@import '../../../styles/colorsAndFonts.scss';

.wholeForm {
  border-radius: 10px;
  border: 1px solid $navBarBG;
  background-color: $navBarC;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     margin-bottom: 15px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}
label
{
     font: 15px/1.7 'Open Sans', sans-serif;
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
} 

.holds-radios {
  background-color: lightblue;
}

.movieTitle {
  font-family: $font1;
  font-size: 32px!important;
  margin: auto!important;
  justify-content: center!important;
  text-align: center!important;
}