@import "../../../styles/colorsAndFonts.scss";

.navBrand {
  text-transform: uppercase;
  padding: 10px;
  font-family: $font3;
  font-size: 2em;
}

#navBarNav {
  background-color: $navBarBG!important;
  position: sticky;
  height: 80px;
}