$font1: 'Notable', sans-serif;
$font2: 'Ramabhadra', sans-serif;
$font3: 'Anton', sans-serif;
$font4: 'Noto Sans TC', sans-serif;
$font5: 'Abril Fatface', cursive;

$navBarBG: rgb(0, 109, 128);
$navBarC: white;
$darkFont: rgb(39, 52, 126);